.billbox {
  min-height: 7rem;
  background-color: rgb(255, 255, 255);
  border-style: double;
}

.billpreviewbox {
  min-height: 20rem;
  background-color: rgb(255, 255, 255);
  border-style: double;
}

.totalBillBox {
  text-align: end;
  margin-right: 7rem;
}
