@import 'tableview';
@import 'loginpage';
@import 'header';
@import 'ordertrackingpage';
@import 'definesectiontable';
@import 'notificationtable';
@import 'dashboard';
@import 'reports';
@import 'user';
@import 'menu';
@import 'bill';

.displayBlockElements {
  display: block;
}

.page_header {
  text-align: center;
}

.center_text {
  text-align: center;
}

.buttons_box {
  display: flex;
  gap: 1rem;
}
