.modal-dialog {
  max-width: 80vw;
  color: rgb(18, 6, 150);
}

.modal-content {
  padding: 0 2rem;
}

.noFavourite {
  text-align: center;
  font-size: 2rem;
}

.clearButton {
  margin: 2rem auto;
}
