@import '../styles/constants';

.clearAll {
  font-family: 'Verdana' sans-serif;
  font-size: 1em;
  text-align: left;
  text-decoration: underline;
  color: $color-white;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.checkBox_border {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0.375rem;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.filterBox {
  padding: 1rem;
  border-radius: 20px;
  background-color: rgb(28, 111, 169);
  color: rgb(255, 255, 255);
}
