@import '../styles/constants';

.footerBox {
  height: 5rem;
  color: $color-white;
  text-align: center;
  margin-top: 2rem;
  position: relative;
}

.progress-bar {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  height: 2px;
  background: linear-gradient(to right, #5af7dc, #06113a);
  overflow: hidden;
}
