.loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &_errorMessage {
    background-color: red;
  }
}
