.add_newOrder_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.new_order_target {
  display: flex;
  gap: 2rem;
}

.new_order_currentCustomers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 300px;
  height: 200px;
  background-color: azure;
  border-radius: 10px;
}

.selectedCustomer {
  color: red;
}

.new_order_options {
  display: flex;
  gap: 2rem;
}

.options_itemCategories {
  display: flex;
  flex-direction: column;
}

.options_items {
  display: flex;
  flex-direction: column;
}

.options_menuCategories {
  display: flex;
  flex-direction: column;
}

.options_menu {
  display: flex;
  flex-direction: column;
}

.orderContext {
  background-color: aliceblue;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 10px;
}

.orderContext_element {
  display: flex;
  justify-content: space-between;
}

.orderContext_element_icons {
  display: flex;
}
