.flexbox {
  display: flex;
}

.justifycenter {
  justify-content: center;
}

.margintop {
  margin-top: 2rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.addboxborder {
  border: 2px solid #5f9ea0;
  border-radius: 10px;
  padding: 1rem 1rem;
}
