@import './constants';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 0px;
}

#root {
  font-size: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba($color-white, 0.1),
      rgba($color-navy, 0.8)
    ),
    url(../utils/back1.jpg);
  background-size: cover;
}
