* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.main {
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all {
  height: 95vh;
  background-image: url(./assets/background.png);
  color: azure;
}
