.formbox {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: burlywood;
  border-radius: 1rem;
}

.btn {
  margin-left: 1.4rem;
}

.weatherbox {
  min-height: 30vh;
  background-color: aquamarine;
  border-radius: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.notfound {
  font-size: 2rem;
  text-transform: uppercase;
  color: red;
  padding-top: 2rem;
}
